<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">Color Game</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span *ngIf="user" class="navbar-text">
      {{user?.username}}
    </span>
    <ul class="navbar-nav">
      <li *ngIf="user" class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/user/logout">Logout</a>
      </li>
      <li *ngIf="!user" class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/user/login">Login</a>
      </li>
    </ul>
  </div>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
