<div>
  <h1>Login</h1>
  <div *ngIf="error" class="alert alert-danger">Error: invalid credential</div>

  <form (ngSubmit)="validate()" [formGroup]="loginForm" class="w-100">
    <app-form-field formControlName="email.formControlName" id="email.id" title="email.title" icon="email.icon"></app-form-field>
    <app-form-field formControlName="pwd.formControlName" id="pwd.id" title="pwd.title" icon="pwd.icon"></app-form-field>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
  </form>

</div>

