<div>
  <h1>Login</h1>
  <div *ngIf="error" class="alert alert-danger">Error: invalid credential</div>

  <form (ngSubmit)="validate()" [formGroup]="loginForm" class="w-100">
    <div class="form-group">
      <label for="login_email">Email</label>
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
              <span class="fa fa-at"></span>
            </span>
        </div>
        <input type="email" class="form-control" id="login_email" placeholder="Enter email" formControlName="email"></div>
    </div>

    <div class="form-group">
      <label for="login_password">Password</label>
      <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
              <span class="fa fa-lock"></span>
            </span>
        </div>
        <input type="password" class="form-control" id="login_password" placeholder="Password" formControlName="password">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
  </form>

</div>

